<h2>Results</h2>

<div class="alert alert-danger">
  <p>The uploaded file produced no results.</p>
  <p>Please try searching again with a file in <a href="https://en.wikipedia.org/wiki/Stockholm_format">Stockholm format.</a></p>
</div>

[% INCLUDE upload_form.tt %]
