#r2rimage, #dplotimage  {
  width: 100%;
}

td.noncompat {
  background: #444;
}

.outresults th, .powerresults th {
  cursor: pointer;
}

td.covary, .key span.covary {
  background: #d7efc5;
}

td.compat, .key span.compat {
  background: orange;
}

.key span {
  background: #444;
  padding-top: 0.3em;
}


.key {
  list-style: none;
}

.key li span {
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
}

.tablesorter-headerUnSorted .arrow {
  background-image: url('/static/images/black-unsorted.gif');
  height: 9px;
}

.tablesorter-headerAsc .arrow {
  background-image: url('/static/images/black-asc.gif');
  height: 4px;
}

.tablesorter-headerDesc .arrow {
  background-image: url('/static/images/black-desc.gif');
  height: 4px;
}

.arrow {
  margin-left: 2px;
  display: inline-block;
  width: 7px;
}

.main_message p {
  text-indent: 1em;
}
.navbar-brand img {
  height: 40px;
  margin-top: -10px;
}
