#r2rimage, #dplotimage  {
  width: 100%;
}

td.noncompat {
  background: #444;
}

.outresults th, .powerresults th {
  cursor: pointer;
}

td.covary, .key span.covary {
  background: #d7efc5;
}

td.compat, .key span.compat {
  background: orange;
}

.key span {
  background: #444;
  padding-top: 0.3em;
}


.key {
  list-style: none;
}

.key li span {
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
}

.sorted .arrow {
  border-top: 4px solid #000;
}
.arrow {
  border-top: 4px solid #999;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  width: 0;
  height: 0;
  vertical-align: baseline;
  display: inline-block;
  content: "";
  margin-left: .2em;
}

.main_message p {
  text-indent: 1em;
}
