#r2rimage, #dplotimage  {
  width: 100%;
}

.outresults {
  border: 1px solid #ccc;
}
.outresults td {
  border: 1px solid #ccc;
  padding: 0.3em;
}
.outresults th {
  padding: 0.3em;
  border: 1px solid #ccc;
}

.outresults td:first-child {
  background: #444;
}

.covary td:first-child {
  background: #d7efc5;
}

.compat td:first-child {
  background: orange;
}

